* {
    margin: 0;
    padding: 0;
  }
  .text_container input {
    width: 60%;
      position: absolute;
      top: 40%;
      left: 10%;
      color: #00288a;
      padding: 15px;
      font-size: 30px;
      border: none;
      outline: none;
      background-color: transparent;
      border: 1px solid #00288a;
      border-radius: 10px;
    }
    .text_container p{
      position: absolute;
      top: 56%;
      left: 10%;
      color: rgb(152, 151, 151);
    }