* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5px;
  background-color: #ecf7ff;
  font-family: "Poppins", sans-serif;
}

.app_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* -------------- Navigation ----------------- */

.menu_icon i {
  position: absolute;
  top: 20px;
  left: 50px;
  color: #012889;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.navigation_container {
  min-width: 60px;
  position: relative;
  top: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 50px;
  background-color: #fff;
  padding: 15px 5px 15px 5px;
}

.navigation_container div {
  border-radius: 70%;
}
.navigation_container div:hover {
  background-color: #00288a;

  cursor: pointer;
}
.navigation_container div i:hover {
  color: #fff;
}
.navigation_container div i {
  padding: 15px;
  color: #4e668a;
}

/* -----------whats_container------------ */

.main_component {
  position: relative;
  top: 50px;
  left: 10px;
  min-width: 600px;
  height: 70vh;
  /* background-color: #4e668a; */
}
.whts_container input {
  position: absolute;
  top: 40%;
  left: 10%;
  color: #00288a;
  padding: 15px;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #00288a;
  border-radius: 10px;
}

::placeholder {
  color: #012889;
  font-weight: bold;
  opacity: 1; /* Firefox */
}
.whts_container button {
  position: absolute;
  top: 60%;
  left: 12%;
  border-radius: 50px;
  font-size: 10px;
  border: none;
  padding: 20px;
  background-color: #012889;
  color: #fff;
  cursor: pointer;
}

/* -------------displayqr_container--------------- */
.display_content {
  position: relative;
  top: 50px;
  left: 10px;
  width: 400px;
  height: 80vh;
  background-color: #00288a;
}
.displayqr_container img {
  position: absolute;
  top: 10%;
  left: 30%;
}
.btn_container {
  position: absolute;
  top: 50%;
  left: 27%;
}
.btn_container button {
  padding: 5px;
  cursor: pointer;
}
.bownload_btn button {
  position: absolute;
  top: 80%;
  left: 35%;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.color {
  position: absolute;
  left: 35%;
  top: 60%;
  display: flex;
  align-items: center;
  color: white;
}
.bg_color {
  position: absolute;
  left: 35%;
  top: 68%;
  display: flex;
  align-items: center;
  color: white;
}
.hide{
  display: none;
}
.show{
  display: block;
}

@media (max-width: 767px) {
  .menu_icon i {
    display: block;
  }
  .navigation_container {
    position: relative;
    /* top: 10px; */
    right: 10px;
    width: 200px;
    border-radius: 5px;
  }
  .navigation_container div {
    border-radius: 5px;
  }
}
